#IseseisevTabel{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 30%;
    height: 40%;
}

td{
    border: 1px solid black;
}

#IseseisevTabel tr:nth-child(1) td:nth-child(1) {
    height: 70px;
    background-color: red;
    width: 20px;
}

#IseseisevTabel tr:nth-child(1) td:nth-child(3) {
    width: 13px;
    background: #e467c8;
}

#IseseisevTabel tr:nth-child(3), td:nth-child(2) {
    background-color: #8eecab;
}

#IseseisevTabel tr:nth-child(2) {
    background-color: #c690e4;
}

#IseseisevTabel tr:nth-child(4) td:nth-child(1), tr:nth-child(4) td:nth-child(3) {
    background-color: crimson;
}