#lipud{
    position: absolute;
    top: 0;
    left: 35%;
}

#eesti{
    width: 330px;
    height: 210px;
    border: 1px solid linen;
    border-spacing: 0;
    position: absolute;
    top: 55px;
    left: 35%;
}

/*pseudoelementide kasutamine*/
#eesti tr:nth-child(1){ /*1.rida*/
    background-color: white;
}

#eesti tr:nth-child(2){/*2. rida*/
    background-color: blue;
}

#eesti tr:nth-child(3){/*3.rida*/
    background-color: red;
}

#Taani{
    width: 330px;
    height: 210px;
    border: 1px solid black;
    border-spacing: 0;
    position: absolute;
    top: 300px;
    left: 35%;
}

#Taani tr:nth-child(1) td:nth-child(1), #Taani tr:nth-child(3) td:nth-child(1){
    background-color: red;
    width: 65px;
}

#Taani tr:nth-child(1) td:nth-child(3), #Taani tr:nth-child(3) td:nth-child(3){
    background-color: red;
    width: 210px;
}

#Taani tr:nth-child(1) td:nth-child(2), #Taani tr:nth-child(3) td:nth-child(2){
    background-color: white;
}

#Taani td{
    border: 0 solid lightgray;
}

#Taani tr:nth-child(2){
    background-color: white;
    height: 45px;
}

#Belgia{
    position: absolute;
    top: 550px;
    left: 35%;
    border: 1px solid black;
    border-spacing: 0;
    width: 330px;
    height: 210px;
}

#Belgia td:nth-child(1){
    background-color: black;
}

#Belgia td:nth-child(2){
    background-color: yellow;
}

#Belgia td:nth-child(3){
    background-color: red;
}

#valgevene{
    width: 330px;
    height: 210px;
    border: 1px solid black;
    border-spacing: 0;
    position: absolute;
    top: 55px;
    left: 60%;
}

#valgevene td{
    border: 0 solid lightgray;
}

#valgevene tr:nth-child(1) td:nth-child(1){
    background-color: white;
    width: 70px;
    height: 210px;
}

#valgevene tr:nth-child(1) td:nth-child(2){
    background-color: red;
    height: 130px;
}

#valgevene tr:nth-child(2){
    background-color: green;
}

#svets{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-spacing: 0;
    position: absolute;
    top: 300px;
    left: 62%;
}

#svets td{
    border: 0 solid lightgray;
}

#svets tr:nth-child(1), #svets tr:nth-child(5){
    background-color: red;
}

#svets tr:nth-child(2) td:nth-child(1), #svets tr:nth-child(4) td:nth-child(1){
    background-color: red;
}

#svets tr:nth-child(2) td:nth-child(2), tr:nth-child(4) td:nth-child(2){
    background-color: red;
}

#svets tr:nth-child(2) td:nth-child(4), #svets tr:nth-child(4) td:nth-child(4){
    background-color: red;
}

#svets tr:nth-child(2) td:nth-child(5), tr:nth-child(4) td:nth-child(5){
    background-color: red;
}

#svets tr:nth-child(3) td:nth-child(1), tr:nth-child(3) td:nth-child(5){
    background-color: red;
}
