div#text{
    border: 1px solid black;
    position: absolute;
    left: 750px;
    top: 80px;
    background: beige;
    width: 20%;
    text-align: center;
}

a{
    border: 3px solid #8eecab;
    border-radius: 50px;
    position: absolute;
    left: 875px;
    top: 700px;
    font: bold 14px "Segoe Script";
    background: beige;
    text-decoration: none;
    color: #000000;
    padding: 4px;
}

a:hover{
    background-color: #b886ea;
}

img{
    position: absolute;
    top: 230px;
    left: 31%;
}

h1{
    text-align: center;
}